<p class = "pageHeader">New Department</p>

<form action="/departments" method="post">

    <label for="name">First Name:</label>
    <input type="inputBox" type = "text" name = "name" required = "true" id = "name">


    <input type="submit" value = "Save" class = "button"/>
</form>